<div class="site-2-columns">

<div class="side">
<img src="<%= digest_local_url('hh-bogdo-gegen-9-1.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>Его Святейшество Халха Джецун Дамба Джампел Намдрол Чокьи Гьялцен родился
в 1932 году в столице Тибета Лхасе. В четырехлетнем возрасте он был признан
реинкарнацией Халха Джецуна Дамбы (Богдо-гегена или Богдо-хана Монголии)
регентом Ретингом Ринпоче и многими высокопоставленными духовными иерархами,
а также государственными оракулами Тибета. Поскольку династия Джецуна Дамбы
имела колоссальное религиозное и политическое влияние в Монголии, где его
статус приравнивался к статусу Далай-ламы в Тибете, его личность в течение
многих лет скрывалась из-за угрозы, исходящей от сталинского режима
и коммунистических репрессий в Монголии.</p>

<p>Халха Джецун Дамба считается эманацией великих мастеров всех основных линий
тибетского буддизма. В школе Гелуг он признан реинкарнацией ученика Цонкапы
Джамьяна Чодже, который основал монастырь Дрепунг; в школе Ньингма его считают
воплощением Ронгзонг Лоцавы Чокьи Гьялцена, а в Кагью — Баромба Дхарма
Вангчука. В школе Сакья он был известен как Наставник Кунга Дролчок.  Затем он
воплотился как Таранатха, знаменитый историк и тантрик XVI века, основавший
линию Джонанг. Кроме того, считается, что при жизни Будды Шакьямуни Джецун
Дамба являлся его ближайшим учеником Анандой.</p>
</div> <!-- side -->

<hr/>

<div class="side">
<img src="<%= digest_local_url('hh-bogdo-gegen-9-2.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>Труды Таранатхи представляют особый интерес для изучения тантрического периода
буддизма в Индии. Когда Таранатха начал учить в Тибете, он основал неподалеку
от Шигацзе монастырь Тактен Пхунцог Линг, в котором обучалось 500 монахов
и филиалы которого позже открылись во всех регионах Тибета. В этом монастыре
Таранатха два или три раза в год даровал посвящение в тантру Калачакры.  Позже
монастырь был переименован в Ганден Пхунцог Линг. Незадолго до своей смерти
Таранатха, который всегда отличался прекрасным чувством юмора, во время
публичной проповеди в шутку спросил у учеников, где бы ему переродиться

в следующий раз. Один из слушателей, монгол, встал со своего места и взмолился:
«Прошу Вас в следующий раз родиться в Монголии!» Считается, что именно эта
просьба и предопределила место его следующего воплощения. Таранатха был 14-м
известным воплощением, непосредственным предшественником Первого Халха Джецуна
Дамбы, который стал главой многих монастырей Монголии.</p>

<p>Первый Джецун Дамба, Тенпей Гьялцен Рангджунг Еше Дордже, родился в семье
монгольского правителя. Он был признан ламой-перерожденцем и в возрасте
14 лет совершил паломничество в Кумбум — на родину Дже Цонкапы. Оттуда он
отправился в Центральный Тибет, чтобы встретиться с Четвертым Панчен-ламой,
Панчен Лобсангом Чогьеном, и с Пятым Далай-ламой, Нгаванг Лобсангом Гьяцо.
Именно тогда Пятый Далай-лама признал юного тулку реинкарнацией святого
Таранатхи, которого в Тибете почитали как основного держателя всех традиций
Дхармы, и чьи перерождения были известны еще со времен Будды Шакьямуни. Затем
Пятый Далай-лама и Четвертый Панчен-лама стали наставниками Джецуна Дамбы
и даровали ему все посвящения, устные передачи и комментарии.</p>

<p>Титул «Халха (крупнейший район Монголии) Джецун Дамба (Владыка Прибежища)» был
также дарован ему в то время Пятым Далай-ламой. Затем он вернулся на родину и,
благодаря его трудам, буддизм распространился по всей Монголии и Центральной
Азии.</p>
</div> <!-- side -->

<hr/>

<div class="side">
<img src="<%= digest_local_url('hh-bogdo-gegen-9-5.jpg') %>"/>
<img src="<%= digest_local_url('hh-bogdo-gegen-9-6.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>Близкая дружба Джецуна Дамбы с Далай-ламой в этой жизни началась еще в Тибете,
где до 1959 года они вместе учились и играли в Норбулинке — летней резиденции
Далай-лам. Их нынешние тесные связи являются продолжением многовековой
традиции. Пятый Далай-лама признал Первого Халха Джецуна Дамбу реинкарнацией
Таранатхи и стал его коренным учителем. Шестой Далай-лама признал Халха Джецуна
Дамбу эманацией Чакрасамвары и Ваджрапани, а также бодхисаттвы Намкая Ньингпо.
Во времена Седьмого Далай-ламы Четвертый Джецун Дамба переродился в его семье,
благодаря чему они также стали кровными родственниками.</p>

<p>Тринадцатый Далай-лама и Восьмой Богдо-хан упрочили свои связи еще
и в политической области, обменявшись в 1911 году официальными бумагами,
в которых взаимно признавали независимость Тибета и Монголии. Затем, в 1913
году, их доверенные лица подписали договор в Урге (нынешний Улан-Батор),
провозглашающий независимость Тибета и Монголии от Китая и «решимость укреплять
двусторонние связи».</p>

<p>Согласно сохранившимся свидетельствам, Первый и Восьмой Джецун Дамба являли
собой образец святости, будучи духовными лидерами Монголии и соседних регионов
Центральной Азии. Первый прожил очень долгую жизнь, что способствовало
упрочению его влияния во множестве монастырей этого региона. Восьмой Джецун
Дамба был весомой политической фигурой и сыграл большую роль в революционных
событиях начала XX века, сотрясших устои России и  Китая. Все реинкарнации
Джецуна Дамбы с Первого до Пятого были полностью посвященными монахами. Шестой,
Седьмой и Восьмой позже сняли с себя монашеские обеты и вступили в брак.
Восьмой Джецун Дамба направлял и защищал свой народ во времена большевистской
революции в России, которая в конце концов привела к присоединению Монголии
к Советскому Союзу. За этим последовало уничтожение монастырей и практическое
исчезновение буддизма в Монголии более чем на 60 лет.</p>
</div> <!-- side -->

<hr/>

<div class="side">
<img src="<%= digest_local_url('hh-bogdo-gegen-9-3.jpg') %>"/>
<img src="<%= digest_local_url('hh-bogdo-gegen-9-4.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>Нынешний, Девятый Халха Джецун Дамба, чью личность было решено держать в тайне
по политическим причинам, в возрасте семи лет поступил в колледж Гоман
монастыря Дрепунг. Там в течение четырнадцати лет он, будучи монахом, изучал
буддийскую философию. Он получал учения и посвящения от Его Святейшества
Далай-ламы и основных держателей всех четырех традиций тибетского буддизма,
включая Панчена Ринпоче, Линга Ринпоче, Триджанга Ринпоче, Кунделинга Ринпоче,
Лхацуна Ринпоче, Дилго Кхьенце Ринпоче, Калу Ринпоче и Сакья Тризина. Он
является держателем редких линий передачи тантры Калачакры и тантры Тары,
а также учений Майтрейи — Будды будущего, которые исходят непосредственно от
Таранатхи. Также он является хранителем тайной традиции практики Чод линии
Ганден. В 21-летнем возрасте Халха Джецун Дамба оставил монастырь Дрепунг,
чтобы провести серию затворничеств по практике Чод. В это время он жил как
нищий йогин, совершая паломничества по святым местам Тибета.</p>

<p>Когда ему исполнилось 25 лет, он снял с себя монашеские обеты и поселился
в Ганден Пхунцок Линге, который был основан Таранатхой. Там он прожил четыре
года, до 1959 года, когда вторжение китайских войск в Тибет вынудило его вслед
за Его Святейшеством Далай-ламой покинуть свою родину.  В Индии он в течение
многих лет жил как простой мирянин, испытывая на себе все тяготы нищенского
быта тибетских беженцев. Наконец, в 1991 году в Дхарамсале Его Святейшество
Далай-лама официально возвел его на трон Джецуна Дамбы — главы буддистов
Монголии. В честь этого долгожданного события был устроен большой праздник.
Сейчас Халха Джецун Дамба живет в Дхарамсале в Тактен Хаусе — в центре,
основанном им в 1997 году для изучения и практики буддизма, главным образом,
практики Чод.</p>

<p>В Россию Халха Джецун Дамба впервые прибыл летом 1997 года по приглашению Фонда
Агвана Доржиева в Бурятии. Его прибытие в Курумканский дацан в Баргузинской
долине, где в июне 1997 года проходил первый Всероссийский ретрит учеников геше
Джампа Тинлея, сопровождалось множеством благоприятных знаков — необычными
явлениями в небе, радугами и пр. В Курумкане Халха Джецун Дамба даровал
буддистам, приехавшим на ретрит из разных регионов страны, передачу текста
Ламрим Третьего Далай-ламы и другие учения и посвящения. С тех пор он
неоднократно приезжал в Россию по приглашению своих многочисленных учеников.</p>

<p>В 2010 году Богдо-гэгэн IX получил гражданство Монголии и прибыл на постоянное
местожительство в главный монастырь страны — Гандантэгченлин. Под его руководством
возрождались религиозные традиции, утрачивавшиеся после народной революции 1921 года.
Верующие признавали его вторым лицом в иерархии после Далай-ламы, духовным наставником
буддистов не только Монголии, но и России. 2 ноября 2011 года в Гандантэгченлине
Богдо-гэгэн был официально провозглашен главой монгольских буддистов и Ассоциации
буддистов Монголии, которую до этого возглавлял Хамбо-лама монастыря Гандантэгченлин.
Незадолго до своей смерти 1 марта 2012 года Богдо-гэгэн принял специальную делегацию
монгольских государственных и культурных деятелей во главе с министром культуры
Ё. Отгонбаяром, изъявившую ему просьбу о будущем его перерождении в Монголии.
Тело Богдо-гэгэна IX было забальзамировано.</p>
</div> <!-- side -->
</div> <!-- site-2-columns -->
