<div class="site-2-columns">

<div class="side">
<img src="<%= digest_local_url('hh-dalai-lama-14-0.jpg') %>"/>
<img src="<%= digest_local_url('hh-dalai-lama-14-1.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>Его Святейшество Далай-лама XIV Тензин Гьяцо (Океан Держатель Учения) родился
6 июля 1935 года (год дерева-свиньи согласно тибетскому календарю) в маленькой
деревне под названием Такцер в районе Докхам на северо-востоке Тибета. Его отец
Чойкьон Церинг и мать Сонам Цомо (ее имя было в дальнейшем изменено на Дики
Церинг) были простыми крестьянами. При рождении ему было дано имя Лхамо
Дхондуп.</p>
<p>В своей автобиографии “Моя земля и мой народ” Его Святейшество пишет:
“Если бы я родился в богатой аристократической семье, я не смог  бы
проникнуться чувствами и чаяниями беднейших тибетцев. Но благодаря своему
простому происхождению я могу понять их, предвидеть их мысли, и именно поэтому
я так сильно сострадаю им, и всегда пытался сделать все, чтобы облегчить их
долю.”</p>

<p>В 1909 г. Далай-лама XIII во время паломничества по местам, связанным с Дже
Цонкапой, посетил деревню Такцер. Он отметил красоту этого места и сказал, что
хотел бы вернуться туда вновь. В 1937 г. деревню Такцер посетила специальная
группа лам, искавшая новое перерождение Далай-ламы. В своей книге “Моя земля
и мой народ” Далай-лама XIV вспоминает: “Маленькие дети, которые являются
перерожденцами, обычно помнят вещи и людей из своих предыдущих жизней.
Некоторые из них могут читать религиозные тексты, хотя их никто еще этому не
учил. Все, что я говорил ламе, давало ему основания полагать, что он, наконец,
нашел перерождение, которое искал.”</p>

<p>После соответствующих испытаний,
четырехлетний Лхамо Дхондуп был признан перерожденцем Далай-ламы XIII.
Восточный район Тибета, где находилась деревня Такцер, был под контролем Китая.
После длительных переговоров между тибетским правительством и местной
администрацией, в октябре 1939 г. Его Святейшество покинул дом своих родителей
и направился в Лхасу. Церемония Его возведения на престол состоялась 22 февраля
1940 года.</p>
</div> <!-- side -->

<hr/>

<div class="side">
<img src="<%= digest_local_url('hh-dalai-lama-14-2.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>Его Святейшество Далай-лама обучался по традиционной системе в Потале
и Норбулинке - зимней и летней резиденциях Далай-лам. У Его Святейшества были
два официальных наставника —  Линг Ринпоче и Триджанг Ринпоче. В программу Его
обучения входили так называемые “пять больших” и “пять малых наук”. “Пять
больших наук” — это логика, тибетское искусство и культура, санскрит, медицина,
буддийская философия. “Пять малых наук” — это поэзия, музыка, драматическое
искусство, астрология и словесность.</p>
<p>В возрасте 24 лет Его Святейшество сдал
предварительные экзамены на степень доктора богословия в трех крупнейших
монастырских университетах: Дрепунг (основан в 1416), Сера (1419) и Ганден
(1409). Завершающие экзамены Его Святейшество сдавал в Джокханге — первом
буддийском храме Тибета, основанном в 641 году. Экзамены  традиционно были
приурочены к ежегодному новогоднему Монламу, крупнейшему молитвенному
празднику.</p>
<p>Утром в экзаменационный день Его Святейшество сдавал экзамены по
логике тридцати ученым. Во второй половине дня Он участвовал в философском
диспуте с пятнадцатью учеными. Вечером тридцать пять ученых экзаменовали Его по
вопросам монашеской дисциплины и метафизики. Его Святейшество блестяще сдал
экзамены в присутствии 20 000 ученых-монахов и получил звание доктора
богословия (геше-лхарамба).</p>
</div> <!-- side -->

<hr/>

<div class="side">
<img src="<%= digest_local_url('hh-dalai-lama-14-3.jpg') %>"/>
<img src="<%= digest_local_url('hh-dalai-lama-14-4.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>В 1949 г. тибетско-китайские отношения резко обострились. Китайское
правительство настаивало на том, что Тибет является частью Китая. Выражая точку
зрения своего народа, Далай-лама писал: “С 1912 г. до рокового 1950 г. Тибет de
facto был государством, независимым от любой другой державы, и наш статус по
сей день остается тем же, что и в 1912 г.”</p>
<p>В 1950 г. китайские войска вошли
в Восточный Тибет, что еще более осложнило ситуацию. 26 октября 1950 г. МИД
Индии направил в Пекин следующую ноту: “Сейчас, когда китайской правительство
предприняло вторжениие в Тибет, вряд ли можно совместить с этими событиями
мирные переговоры, и, естественно, часть тибетцев будет опасаться, что эти
переговоры пройдут под давлением. При современном положении дел вторжение
китайских войск в Тибет не может быть рассмотрено иначе как удручающее событие,
не согласующееся с интересами самого Китая в налаживании мира в регионе. Так
считает индийское правительство.”</p>
<p>В 1950 г. чрезвычайная сессия Национальной ассамблеи Тибета обратилась к Его
Святейшеству, которому было в это время 16 лет, с просьбой принять на себя всю
полноту духовной и светской власти в Тибете. 17 ноября 1950 года состоялось
возведение Его святейшества Далай-ламы  на пост духовного и светского правителя
Тибета. Движимый буддийской идеей ненасилия, Он посвятил себя борьбе за мир,
процветание буддизма и благополучие тибетского народа. В своей книге “Моя земля
и мой народ” Далай-лама XIV пишет: “Я убежденный последователь учения
ненасилия, которое впервые было проповедано Буддой, чья мудрость абсолютна
и неоспорима. Это учение практиковал выдающийся общественный деятель Индии,
святой Махатма Ганди. Я категорически возражал против любой попытки вернуть
нашу свободу с помощью оружия.”</p>
<p>В 1954 году Его Святейшество по приглашению
китайского правительства посетил Китай. В 1956 году Он прибыл с визитом
в Индию, чтобы принять участие в праздновании 2500-летия со Дня рождения Будды,
где встретился с премьер-министром Индии Джавахарлалом Неру и премьер-министром
Китая Чжоу Эньлаем, чтобы обсудить ситуацию, сложившуюся в Восточном
Тибете.</p>

<p>10 марта 1959 года в Лхасе произошли вооруженные столкновения между
подразделениями китайской армии и местным населением. Его Святейшество,
который всегда исходил из концепции ненасилия, во избежание кровопролития
был вынужден покинуть Лхасу. Правительство и народ Индии гостеприимно
приняли на своей земле Его Святейшество Далай-ламу и семьдесят восемь тысяч
Его духовных последователей.</p>
</div> <!-- side -->

<hr/>

<div class="side">
<img src="<%= digest_local_url('hh-dalai-lama-14-5.jpg') %>"/>
<img src="<%= digest_local_url('hh-dalai-lama-14-7.jpg') %>"/>
</div> <!-- side -->

<div class="side">
<p>С 1960 года Его Святейшество живет в Индии,
в городе Дхарамсала (штат Химачал Прадеш). Этот город часто называют
“маленькой Лхасой”. Его Святейшество делал и делает все возможное, чтобы
в Индии сохранить сокровища тибетской цивилизации, которая была почти
полностью уничтожена в Тибете в период с 1955 по 1979 год: 99% монастырей
были разрушены полностью, уничтожены бесчисленные произведения буддийского
искусства и памятники литературы, длительное время под запретом находилась
сама религия.</p>
<p>В отличие от своих предшественников, Его Святейшество много путешествует по
странам Востока и Запада. Он посетил 41 страну, встречался с политическими
деятелями, духовенством, деятелями культуры, бизнесменами. Где бы Он ни
выступал, Он повсюду говорил о своей уверенности в единении человечества,
о чувстве ответственности каждого человека за судьбу всего мира. В 1973 году
Далай-лама встретился с Папой Павлом VI, несколько раз Он встречался также
с Папой Иоанном Павлом II.</p>

<p>С семидесятых годов XX века, когда Далай-лама XIV стал выезжать в страны
Запада, за Ним закрепилась слава выдающегося ученого и борца за мир. Его
Святейшество также написал множество книг, в том числе труды по буддийской
философии и автобиографические очерки, речи и статьи. Многие университеты мира
присвоили Ему звание Почетного доктора за Его труды по буддийской
философии.</p>

<p>Его Святейшество Далай-лама XIV привлекает внимание всего мира своей
скромностью и преданностью идее ненасилия. Он всегда выступал за
взаимопонимание между народами и последователями различных мировых религий.
В своей знаменитой речи “Всеобщая ответственность и милосердие” (1973) Он
говорил: “Потребность простых взаимоотношений между людьми становится все более
и более необходимой... Сегодня мир стал теснее и еще больше зависит от каждого.
Национальные проблемы не могут быть полностью решены одной страной. Таким
образом, если нет чувства личной ответственности за всех, существует угроза
нашему выживанию. По существу, ответственность за всех — это умение чувствовать
страдания других людей так же, как вы чувствуете свои страдания. Следует
понять, что нашими врагами тоже движет идея поисков счастья. Все живые существа
хотят того же, чего хотим и мы.”</p>

<p>Усилия Его Святейшества в борьбе за свободу
и мир не раз отмечались специальными наградами. В 1989 году Его Святейшество
Далай-лама стал лауреатом Нобелевской премии мира.</p>
</div> <!-- side -->

</div> <!-- site-2-columns -->
